@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.tall-text {
  
    font-size: 105px;
}

#full-body {
  display: block;
  background-size: cover;
  background-position: center;
}

#mid-page {
  min-height: 55vh;
}

.authorH {
  &:hover{
    .authorV {
      opacity: 1;
    }
  }
  .authorV {
    opacity: 0;
    transition: all .3s linear
  }
}