@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.tall-text {
  
    font-size: 105px;
}

#full-body {
  display: block;
  background-size: cover;
  background-position: center;
}

#mid-page {
  min-height: 41vh;
}

.authorH {
  &:hover{
    .authorV {
      opacity: 1;
    }
  }
  .authorV {
    opacity: 0;
    transition: all .3s linear
  }
}
.text{
	color: rgb(255, 255, 255);
		text-shadow: -1px 1px 2px #23430C,
				  1px 1px 2px #23430C,
				  1px -1px 2px #23430C,
				  -1px -1px 2px #23430C;
         
}


.textR{
	color: rgb(97, 63, 63);
		border-color: yellowgreen; 
    box-shadow: -1px 1px 2px #b6caa8,
				  1px 1px 2px #b6caa8,
				  1px -1px 0 #b6caa8,
				  -1px -1px 0 #b6caa8;
}

.hrb {
   display: block;
   
   overflow: hidden; 
   border-style: inset; 
   border-width: 2px;
   border-color: rgb(241, 241, 241);
   box-shadow: -1px 1px 2px #23430C,
   1px 1px 2px #23430C,
   1px -1px 2px #23430C,
   -1px -1px 2px #23430C;
  }

